\RequirePackage{asciimint_graphics_pre}
\documentclass[tikz,convert={outfile=\jobname.svg}]{standalone}
\usepackage{asciimint_graphics}
\RequirePackage{asciimint_graphics_style}

\begin{document}

%MAGICBEGINTIKZ
%\input{MAGICPLACEHOLDERTIKZ}%
%MAGICENDTIKZ

\end{document}			