include setup.py
include setup.cfg
include MANIFEST.in
include COPYRIGHT
recursive-include docs *
recursive-include etc *
recursive-include latex *
recursive-include lib *
recursive-include scripts *
recursive-include tests *
recursive-include xsl *
include tools/dblatex_config.py
include tools/utfdump.py
include tools/pdfscan.py
global-exclude *.pyc
